altgraph==0.10.1
bdist-mpkg==0.4.4
click==6.6
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
macholib==1.5
MarkupSafe==0.23
modulegraph==0.10.1
py2app==0.7.1
pyOpenSSL==0.13
PyRSS2Gen==1.0.0
python-dateutil==1.5
pytz===2012d
scipy==0.11.0
Twisted==12.2.0
virtualenv==15.1.0
Werkzeug==0.11.11
xattr==0.6.4
zope.interface==3.8.0