<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="../main.css">
</head>
<body>
    
    <div class="container">
        <h1>Welcome to the TMA_API</h1>
        <h3>the Too Many Acronyms Application Program ... something or other</h3>
        <hr>
        <h3>Append your acronym or abbreviation to the end of the URL to see what it actually means!</h3>
        <h5>(make sure there is one slash between the existing url and your query)</h5>
    </div>

</body>
</html>